Source: c1-linux
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: bc, build-essential, debhelper (>=9), gcc-8, lzop, u-boot-tools
Standards-Version: 3.9.8
Homepage: https://github.com/hardkernel/linux/tree/odroidc-3.10.y

Package: c1-linux-image
Architecture: armhf
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: kernel package for the ODROID C1
 This package contains the nececssary kernel bits to boot
 a ODROID C1
